* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginn {
    min-width: 1200px;
}

.header {
    height: 80px;
    border-bottom: 1px solid #f4f4f4;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
}

.btn__close {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px -8px;
}

.navbar-left {
    display: inline-flex;
    align-items: center;
    /* justify-content: flex-end; */
    flex: 1;
    margin-left: 42px;
    margin-top: -26px;
}

.navbar-left__logo {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 10px;
    border-radius: 50%;
    margin-top: 5px;
}

svg {
    transition: fill linear 0.2s;
}

.navbar-left__logo-link {
}

.navbar-left__logo-link:hover svg {
    fill: var(--hover-color);
}

.navbar-left__search {
    margin-left: 16px;
    width: 604px;
    height: 48px;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #e0e0e0;
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 4px;
}

.search {
    text-decoration: none;
    width: 268px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}

.search-input--focus:focus {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    z-index: 1;
}

.search-icon {
    text-decoration: none;
    padding: 0 16px 0 0;
    font-size: 1.6rem;
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 1;
}

.search-input {
    height: 46px;
    width: 44.4%;
    position: absolute;
    padding: 0 0 0 40px;
    left: 0px;
    top: 2px;
    font-weight: 500;
    font-size: 1.6rem;
    outline: none;
    background-color: transparent;
    border: none;
    line-height: 1.4rem;
    font-weight: 500;
}

.search__date {
    width: 116px;
    padding: 0 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    cursor: pointer;
    height: 100%;
}

.search__date::before {
    content: "";
    display: block;
    position: absolute;
    height: 32px;
    width: 1px;
    background-color: #e7e7e7;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.search__date-icon {
    margin-right: 12px;
    font-size: 1.8rem;
}

.search__date-text {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: -4px;
}

.search__guest {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    /* width: 116px; */
    flex-grow: 0;
    cursor: pointer;
    height: 100%;
}

.border {
    border-style: solid;
    border-width: none;
    border-color: #dadada;
    border-radius: 6px;
}

.search__guest::before {
    content: "";
    display: block;
    position: absolute;
    height: 32px;
    width: 1px;
    background-color: #e7e7e7;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.search__guest-icon {
    margin-right: 14px;
    font-size: 1.8rem;
}

.search__guest-text {
    font-size: 1.4rem;
    margin: 0 0 -5px 0;
    font-weight: 500;
}

.search__guest--modal {
    width: 319px;
    height: 232px;
    position: absolute;
    background-color: #fff;
    top: 60px;
    right: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s linear;
}

.show {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

.guest__type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    margin: 18px 0;
    font-size: 1.6rem;
}

.guest__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guest__title span:nth-child(2) {
    font-size: 1.2rem;
    color: #555;
}

.control {
    display: flex;
    text-align: center;
    position: relative;
}

.btn {
    cursor: pointer;
    border: none;
}

button > * {
    pointer-events: none;
}

.input-increase {
    position: absolute;
    right: 40px;
}

.add__btn,
.minus__btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
}

button:disabled.btn {
    cursor: not-allowed;
}

.input .input__inner {
    outline: none;
    border: none;
    width: 120px;
    margin: 0 8px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 500;
}

.btn__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}

.btn__clear,
.btn__apply {
    padding: 2px;
    background-color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.btn__apply {
    color: var(--hover-color);
}

.search__button {
    background-color: #555;
    padding: 12px 20px;
    border: none;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.search__button-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.navbar-right {
    flex: 1;
    padding-left: 0;
    margin-left: 234px;
    /* height: 70px; */
    display: flex;
    align-items: center;
    margin-top: -12px;
}

.navbar-right__list {
    list-style: none;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-right__item {
    margin-right: 32px;
    position: relative;
}

.navbar-right__item:nth-child(2)::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #fb9236;
    border-radius: 50%;
    right: -10px;
    top: -5px;
    position: absolute;
}
.navbar-right__item:nth-child(4) {
    margin-right: 20px;
}

/* .navbar-right__item-link {
    text-decoration: none;
    color: var(--text-color);
    line-height: 1.6rem;
    display: block;
} */

.navbar-right__item-link:hover {
    color: var(--hover-color);
}

.navbar-right__languages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    padding: 5px 7px;
    border-radius: 50px;
    cursor: pointer;
}

.navbar-right__flag {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.navbar-right__languages-icon {
    margin: -11px 0 0 11px;
    font-size: 1.8rem;
}

.register {
    min-width: 1200px;
}

.navbar-left__logo {
    transition: fill linear 0.2s;
}

.navbar-left__logo-link:hover .navbar-left__logo {
    fill: #f65e39;
}

/* .navbar-right {
    display: flex;
    align-items: center;
} */

/* .navbar-right__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-left: 33px; 
} */

/* .navbar-right__item {
    margin-right: 35px;
} */

/* .navbar-right__item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
} */

.navbar-right__item-link:hover {
    color: var(--hover-color);
}

.navbar-right__item--active {
    position: relative;
}

.navbar-right__item--active::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fb9236;
    border-radius: 50%;
    right: -10px;
    top: -5px;
}

.navbar-right__languages {
    display: inline-flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 5px 10px;
    border-radius: 50px;
}

.navbar-right__flag {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.navbar-right__languages-text {
    font-size: 1.4rem;
}

.navbar-right__languages-icon {
    margin-left: 5px;
    font-size: 1.4rem;
    margin-top: -7px;
}

.navbar-right__currency {
    position: absolute;
    background-color: var(--white-color);
    top: 80px;
    right: 45px;
    width: 470px;
    height: 154px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    border: 1px solid #d8d8d8;
    display: none;
    animation: showModal linear 0.2s;
    z-index: 10;
}

.navbar-right__currency::before {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    top: -11px;
    right: 31px;
    width: 20px;
    height: 20px;
    background-color: var(--white-color);
    border-top-right-radius: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-top-color: #d8d8d8;
    border-right-color: #d8d8d8;
    border-left-color: transparent;
    border-bottom-color: transparent;
    /* z-index: -1; */
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.6); */
    /* background-color: var(--white-color); */
}

.navbar-right__currency--active {
    display: block;
}

.countries {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    position: relative;
}

.countries .country-item {
    cursor: pointer;
}

.countries--has-border-right .country-item:nth-child(1) {
    margin-top: 10px;
}

.countries--has-border-right .country-item:nth-child(2),
.countries--has-border-right .country-item:nth-child(3) {
    margin-top: 30px;
}

.countries--has-border-right::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    /* min-height: 134px; */
    width: 1px;
    right: 0;
    top: 53.4%;
    height: 150px;
    transform: translateY(-50%);
}

.country-item {
    display: flex;
    align-items: center;
}

.country-item:hover .country-item__languages {
    color: var(--hover-color);
}

.country-item__flag {
    width: 18px;
    height: 18px;
    margin-right: 14px;
}

.country-item__languages {
    margin-right: 10px;
    font-size: 1.6rem;
}

.country-item__icon {
    font-size: 1.4rem;
}

.country-item__unit {
    margin-right: 18px;
    font-size: 1.6rem;
    font-weight: 700;
}

.currency {
    padding: 8px 10px;
}

.currency .country-item {
    cursor: pointer;
}

.currency .country-item:first-child {
    margin-top: 10px;
}

.currency .country-item:nth-child(2) {
    margin-top: 30px;
}

/* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 4px;
} */

.navbar-left__logo {
    transition: fill linear 0.2s;
}

.navbar-left__logo-link:hover .navbar-left__logo {
    fill: #f65e39;
}

/* .navbar-right {
    display: flex;
    align-items: center;
} */

.navbar-right__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    /* margin-left: 33px; */
    /* margin-top: 20px; */
}

.navbar-right__item {
    margin-right: 35px;
}

.navbar-right__item-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
}

.navbar-right__item-link:hover {
    color: var(--hover-color);
}

.navbar-right__item--active {
    position: relative;
}

.navbar-right__item--active::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fb9236;
    border-radius: 50%;
    right: -10px;
    top: -5px;
}

.navbar-right__languages {
    display: inline-flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 5px 10px;
    border-radius: 50px;
}

.navbar-right__flag {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.navbar-right__languages-text {
    font-size: 1.4rem;
}

.navbar-right__languages-icon {
    margin-left: 5px;
    font-size: 1.4rem;
    margin-top: -7px;
}

.navbar-right__currency {
    position: absolute;
    background-color: var(--white-color);
    top: 80px;
    right: 45px;
    width: 470px;
    height: 154px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    border: 1px solid #d8d8d8;
    display: none;
    animation: showModal linear 0.2s;
    z-index: 10;
}

.navbar-right__currency::before {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    top: -11px;
    right: 31px;
    width: 20px;
    height: 20px;
    background-color: var(--white-color);
    border-top-right-radius: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-top-color: #d8d8d8;
    border-right-color: #d8d8d8;
    border-left-color: transparent;
    border-bottom-color: transparent;
    /* z-index: -1; */
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.6); */
    /* background-color: var(--white-color); */
}

.navbar-right__currency--active {
    display: block;
}

.countries {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    position: relative;
}

.countries .country-item {
    cursor: pointer;
}

.countries--has-border-right .country-item:nth-child(1) {
    margin-top: 10px;
}

.countries--has-border-right .country-item:nth-child(2),
.countries--has-border-right .country-item:nth-child(3) {
    margin-top: 30px;
}

.countries--has-border-right::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 156px;
    width: 1px;
    right: 0;
    top: 77px;
    transform: translateY(-50%);
}

.country-item {
    display: flex;
    align-items: center;
}

.country-item:hover .country-item__languages {
    color: var(--hover-color);
}

.country-item__flag {
    width: 18px;
    height: 18px;
    margin-right: 14px;
}

.country-item__languages {
    margin-right: 10px;
    font-size: 1.6rem;
}

.country-item__icon {
    font-size: 1.4rem;
}

.country-item__unit {
    margin-right: 18px;
    font-size: 1.6rem;
    font-weight: 700;
}

.currency {
    padding: 8px 10px;
}

.currency .country-item {
    cursor: pointer;
}

.currency .country-item:first-child {
    margin-top: 10px;
}

.currency .country-item:nth-child(2) {
    margin-top: 30px;
}

/* Banner */

.banner {
    height: 170px;
    background-image: linear-gradient(90deg, #f65e38, #f68a39, #f65e38);
    position: relative;
    margin-top: 80px;
}

.banner-info {
    position: absolute;
    margin: 32px 0 0 44px;
}

.banner-title,
.banner-subtitle {
    color: #fff;
}

.banner-title {
    font-size: 2.2rem;
}

.banner-subtitle {
    font-size: 1.6rem;
    font-weight: 500;
}

/* Section */

.media {
    margin-top: 48px;
}

.media__img {
    width: 57px;
    height: 70px;
}

.media__title {
    margin: 24px 0 14px 0;
    font-size: 1.8rem;
    color: var(--text-color);
}

.media__content {
    font-size: 1.6rem;
    color: #555;
    line-height: 2.4rem;
}

/* Account */

.container-account {
    margin-top: -110px;
    border-radius: 10px;
    z-index: 1;
}

.account {
    min-height: 740px;
    background-color: #fff;
    padding: 22px 36px;
    box-shadow: 0 9px 46px 8px rgb(0 0 0 / 2%), 0 24px 38px 3px rgb(0 0 0 / 4%), 0 11px 15px -7px rgb(0 0 0 / 5%);
    border-radius: 10px;
}

.account__form-title {
    font-size: 2.2rem;
    margin-bottom: 44px;
}

.input-group {
    margin-top: 8px;
}

.form__email-label,
.form__phone-label,
.form__name-label,
.form__last-name-label,
.form__password-label,
.form__confirm-password-label {
    font-size: 1.5rem;
    font-weight: 550;
}

.account__form-email,
.account__form-password,
.account__form-confirm-password {
    position: relative;
}

.form__email-input,
.form__name-input,
.form__last-name-input,
.form__password-input,
.form__confirm-password-input {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 4px 19px 4px 19px;
    transition: all linear 0.2s;
}

.form__email-input:focus,
.form__name-input:focus,
.form__last-name-input:focus,
.form__password-input:focus,
.form__confirm-password-input:focus {
    border-color: #f65e39;
    box-shadow: 0 0 5px 0 #f65e39;
}

.form__email-icon,
.form__password-icon,
.form__confirm-password-icon {
    position: absolute;
    right: 18px;
    top: 12px;
}

.email-icon,
.password-icon,
.confirm-password-icon {
    font-size: 1.6rem;
}

.form__phone,
.form__name,
.form__last-name,
.form-password,
.form__confirm-password {
    margin-top: 20px;
}

.account__form-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.country {
    width: 120px;
    height: 45px;
    background-color: #f6f6f6;
    border-radius: 50px;
    position: relative;
}

.code {
    display: flex;
    align-items: center;
    position: absolute;
    left: 24px;
    top: 12px;
    cursor: pointer;
}

.flag,
.num {
    margin-right: 8px;
}

.num {
    font-size: 1.5rem;
}

.form__phone-input {
    width: calc(176px - 32px);
    height: 45px;
    border-radius: 50px;
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 0 22px;
}

.text {
    color: #999;
}

.submit {
    margin-top: 32px;
}

.submit-btn {
    width: 100%;
    background-image: linear-gradient(90deg, #f65e38, #f68a39, #f65e38);
    padding: 18px 25px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 50px;
    /* border-color: #f65e39; */
    border: none;
    box-shadow: 0 1px 8px #f65e38;
}

.login,
.accept {
    margin-top: 32px;
    font-size: 1.6rem;
    text-align: center;
}

.login__link {
    text-decoration: none;
    color: #f65e39;
    font-weight: 550;
}

.accept {
    margin-top: 32px;
    font-size: 1.4rem;
    text-align: center;
}

.accept-text {
    text-decoration: none;
    color: #222;
    font-weight: 550;
    transition: color linear 0.1s;
}

.accept-text:hover {
    color: #f65e39;
}

.no-account {
    margin-top: 40px;
    text-align: center;
    font-size: 1.6rem;
}

.no-account__login__link {
    text-decoration: none;
    color: #f65e39;
    font-weight: 550;
}

.or {
    margin: 45px 0 45px 0;
    text-align: center;
    font-size: 1.6rem;
}

.login-facebook__btn,
.login-google__btn {
    width: 100%;
    padding: 18px 25px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.login-facebook__btn:hover .login-facebook__btn-link,
.login-google__btn:hover .login-google__btn-link {
    color: #f65e39;
}

.login-facebook__btn-link,
.login-google__btn-link {
    text-decoration: none;
    color: #555;
    font-size: 1.6rem;
    transition: color linear 0.1s;
}

.facebook__btn-icon,
.google__btn-icon {
    position: absolute;
    right: 26px;
    top: 20px;
}

.footer {
    margin-top: 80px;
}

.license {
    min-height: 200px;
    /* background-color: #f9f9f9; */
    text-align: center;
    border-top: 1px solid #f2f2f2;
}

.license-1,
.license-2,
.license-3 {
    font-size: 1.4rem;
    line-height: 3.4rem;
    color: #999;
}

.license-1 {
    padding-top: 28px;
}

.util-mobile {
    display: none;
}

/* Responsive */

/* PC */
@media (max-width: 1279px) {
    .navbar-right__languages-text,
    .navbar-right__languages-icon,
    .navbar-right__item-link,
    .banner-subtitle {
        font-size: 2rem;
    }
}

/* Laptop & Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
    button.back {
        font-size: 5rem;
        padding: 20px;
        margin-bottom: 24px;
        background-image: linear-gradient(90deg, #f65e38, #f68a39, #f65e38);
        color: var(--white-color);
        border-radius: 50px;
        border: none;
        outline: none;
    }

    .banner {
        height: 270px;
        margin-top: unset;
    }

    .banner-title {
        font-size: 5rem;
    }

    .banner-subtitle {
        font-size: 4rem;
    }

    .sm-col-12 {
        width: 100%;
    }

    .media__img {
        width: 130px;
        height: 143px;
    }

    .media__title {
        font-size: 4rem;
    }

    .media__content {
        font-size: 4.6rem;
        line-height: 5rem;
    }

    .account {
        margin-top: 164px;
    }

    .account__form-title {
        font-size: 6rem;
        margin-bottom: 36px;
    }

    .input-group {
        margin-left: 8px;
        width: 100%;
    }

    .form__email-label,
    .form__phone-label,
    .form__name-label,
    .form__last-name-label,
    .form__password-label,
    .form__confirm-password-label {
        font-size: 5rem;
        font-weight: lighter;
    }

    .form__email-input,
    .country,
    .form__phone-input,
    .form__name-input,
    .form__last-name-input,
    .form__password-input {
        height: 100px;
        font-size: 4.6rem;
        border: 4px solid #e6e6e6;
    }

    .form__email-icon i,
    .form__password-icon i {
        right: 25px;
        font-size: 5rem;
    }

    .submit-btn {
        font-size: 5rem;
    }

    .login,
    .accept,
    .login-facebook__btn-link,
    .facebook__btn-icon,
    .login-google__btn-link,
    .google__btn-icon,
    .license p,
    .no-account,
    .no-account__login__link,
    .or {
        font-size: 4.8rem;
    }

    .license p {
        line-height: 8rem;
    }

    .util-mobile {
        position: fixed;
        width: 1201px;
        height: 220px;
        bottom: 0;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: 0.4s;
        z-index: 1;
    }

    .hide {
        /* display: none; */

        transform: translateY(104%);
    }

    .util-mobile__search,
    .util-mobile__option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .util-mobile__search--icon,
    .util-mobile__option--icon {
        font-size: 6rem;
        color: black;
        line-height: 7rem;
    }

    .util-mobile__search--text,
    .util-mobile__option--text {
        color: black;
        font-size: 4rem;
        font-weight: 600;
    }

    .util-mobile__search.active .util-mobile__search--icon,
    .util-mobile__search.active .util-mobile__search--text {
        color: var(--hover-color);
    }

    .header {
        height: 100%;
        position: fixed;
        /* animation: showHeaderMobile linear 10s; */
        transform: translateY(100%);
        transition: all 0.3s linear;
    }

    .header.active {
        transform: translateY(0);
    }

    .navbar-left__search {
        display: unset;
        height: 100px;
        margin-top: -450px;
        width: 95%;
        position: relative;
    }

    .search-icon {
        display: none;
    }

    .search-input {
        height: 98px;
        width: 100%;
        font-size: 6rem;
    }

    .navbar-left {
        /* display: block; */
        height: 900px;
        position: relative;
    }

    .navbar-right {
        /* display: none; */
    }

    .navbar-left__logo {
        display: none;
    }

    .search {
        width: 100%;
    }

    .search__date {
        height: 100px;
        border-radius: 10px;
        width: 100%;
    }

    .search__date-icon,
    .search__date-text,
    .search__guest-icon,
    .search__guest-text,
    .search__button-icon,
    .guest__title,
    .guest__title span:nth-child(2),
    .btn__clear,
    .btn__apply {
        font-size: 4rem;
    }

    .search__date,
    .search__guest {
        margin-top: 60px;
    }

    .search,
    .search__date,
    .search__guest,
    .search__button {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }

    .search__button {
        position: absolute;
        bottom: -483px;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search__guest--modal {
        top: 440px;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 470px;
    }

    .search__guest--modal.show {
        opacity: 1;
    }

    .guest__type {
        height: 100px;
    }

    .control {
        width: 30%;
        height: 50%;
        margin-right: 68px;
    }

    .btn {
        width: 100px;
        height: 100px;
    }

    .btn__apply {
        width: 180px;
    }

    .btn > i {
        font-size: 4rem;
    }

    .input {
        margin-left: 60px;
        line-height: 12rem;
    }

    .input .input__inner {
        font-size: 5rem;
        width: 60%;
    }

    .btn__close {
        display: block;
        font-size: 4rem;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .navbar-right__languages-icon {
        margin: -28px 0 0 11px;
    }

    .navbar-right__currency {
        top: 919px;
        /* right: 308px; */
        width: 1120px;
        height: 566px;
    }

    .country-item__languages,
    .country-item__icon,
    .country-item__unit {
        font-size: 4rem;
    }

    .country-item__flag {
        width: 130px;
        height: 130px;
    }

    .countries .country-item {
        margin-top: 40px;
    }

    .currency .country-item {
        margin-top: 108px;
    }

    .currency .country-item:first-child {
        margin-top: 72px;
    }

    .navbar-right__currency::before {
        display: none;
    }

    .navbar-left {
        margin-left: 18px;
    }

    .navbar-right {
        height: 1400px;
        margin-left: 50px;
    }

    .navbar-right__list {
        flex-direction: column;
        justify-content: unset;
        margin-top: 140px;
    }

    .navbar-right__list li,
    .navbar-right__languages-text,
    .navbar-right__languages-icon,
    .navbar-right__item-link {
        font-size: 6rem;
    }

    .navbar-right__list li {
        margin-top: 30px;
    }

    .navbar-right__languages > img {
        width: 130px;
        height: 130px;
    }

    .navbar-right__languages {
        padding: 20px 50px;
        margin-top: 60px;
    }

    .back-to-home {
        padding: 20px;
        background-image: linear-gradient(90deg, #f65e38, #f68a39, #f65e38);
        border-radius: 50px;
        margin: 20px 20px 20px 20px;
        display: inline-block;
    }

    .back-to-home a {
        font-size: 5rem;
        text-decoration: none;
        color: var(--white-color);
    }
}
